@model BussinesEmployee.Models.EditRoleVM;
@{
    ViewBag.title = "Create New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="CreateRole" asp-controller="Admin" class="form-group" method="post">

    <div class="card">
        <div class="header">Create New Role</div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="body">

            <div class="form-group">
                <div class="form-line">
                    <label asp-for="RoleName"> Role Name</label>
                    <input type="text" class="form-control" asp-for="RoleName" placeholder="Role Name " />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
          
            <input type="submit" value="Add New Role " class="btn btn-primary waves-effect" />
        </div>
    </div>
</form>

<script src="~/jquery/jquery.min.js"></script>

<script src="~/jquery-validate/jquery.validate.min.js"></script>

<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>